<div class="teacher-details-container">
  <header class="details-header">
    <h2>Detalhes do Professor</h2>
  </header>

  <div class="teacher-card">
    <div class="teacher-info">
      <h3>Nome: <span>{{ teacher?.name }}</span></h3>
      <p>Email: <span>{{ teacher?.email }}</span></p>
      <p>Telefone: <span>11 99999-9999</span></p>
      <p>Departamento: <span>{{ teacher?.department }}</span></p>
      <p>Tipo de vínculo: <span>Efetivo</span></p>
      <p>Áreas de atuação: <span>Ensino, Pesquisa, Extensão</span></p>
      <p>Biografia: <span>{{ teacher?.bio }}</span></p>
    </div>
  </div>

  <div class="actions">
    <app-button theme="btn-view" (click)="editTeacher()">Editar</app-button>
    <app-button theme="btn-delete" (click)="deleteTeacher()">Excluir</app-button>
    <app-button theme="btn-view" (click)="navigateBack()">Voltar</app-button>
  </div>
</div>
